// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchedContactList {
  display: flex;
  flex-wrap: wrap;
}

.contacts {
  box-shadow: 1px 3px 3px 2px #9c8c8c;
  width: 23%;
  padding: 2px;
  margin: 0.5em;
  border-radius: 10px;
  border: thick;
}
